<div class="container border border-2">
  

  </div>

  
<p-toast></p-toast>
<p-confirmDialog header="Confirmation" acceptLabel="Si" rejectLabel="No" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<div class="ui-g container border border-0">
  <p-panel header="Administracion Reclamos">
    <div>
      <p-menubar [model]="items"></p-menubar>
    </div>
    <p-table [value]="listReclamoVista" [columns]="cols" [responsive]="true" selectionMode="single"
              [(selection)]="reclamoSelected" dataKey="id" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.headers}}
            <p-sortIcon field="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user let-columns="columns">
        <tr [pSelectableRow]="user">
          <td *ngFor="let col of columns">
            {{user[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>

  <p-dialog header="Reclamos" [(visible)]="displaySaveDialog">
    <div class="row">
      <div class="col-12 border border-0">
        <div class="row row-cols-4 mb-3">
          <div class="col txtlabel">Fecha:</div>
          <div class="col">
             <input id="endDate" class="form-control" type="date" [(ngModel)]="fechaReclamD" dateFormat="dd/mm/yyyy" />
          </div>
          <div class="col">
            <p-calendar [(ngModel)]="fechaReclamD" dateFormat="dd/mm/yy"></p-calendar>
            <p-calendar inputId="basic" [(ngModel)]="date1"></p-calendar>
         </div>
          <div class="col txtlabel">Comentario:</div>
          <div class="col"><input class="form-control" [(ngModel)]="reclamo.comentario" type="text" placeholder="comentario" aria-label="default input example">
          </div>
        </div>
        <div class="row row-cols-4 mb-3">
          <div class="col txtlabel">Cliente:</div>
          <div class="col">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col txtlabel">Tipo Reclamo:</div>
          <div class="col">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="row row-cols-4">
          <div class="col txtlabel">Usuario:</div>
          <div class="col">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  
    <ng-template pTemplate="footer">
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="Guardar"></button>
    </ng-template>
  </p-dialog>

</div>


  


  
  
