<div class="container pt-2">
    <div> 
        <!-- <img src="assets/img/headerBetania.png" class="img-fluid" alt="...">    -->
    </div>
    <div class="introMain mb-2">
        <a href="" target="_blank" id="share-wa" class="sharer button me-3" style="color:#25d366"><em class="fa fa-2x fa-whatsapp"></em></a>
        <a href="" target="_blank" id="share-fb" class="sharer button" style="color:#1877f2"><em class="fa fa-2x fa-facebook-square me-3"></em></a>
        <a href="" target="_blank" id="share-em" class="sharer button" style="color:#ff0000"><em class="fa fa-2x fa-youtube-square me-3"></em></a>
        <!-- <i class="fa fa-2x fa-whatsapp" style="color:#25d366" aria-hidden="true"></i> -->
        <!-- <a href="#" id="share-tw" class="sharer button"><em class="fa fa-2x fa-twitter-square"></em></a>
        <a href="#" id="share-li" class="sharer button"><em class="fa fa-2x fa-linkedin-square"></em></a>
        <a href="#" id="share-gp" class="sharer button"><em class="fa fa-2x fa-google-plus-square"></em></a>
        <a href="#" id="share-em" class="sharer button"><em class="fa fa-2x fa-envelope-square"></em></a> -->
    </div>
</div>

<app-navbar></app-navbar>

<div class="main-container">
    <!-- <router-outlet></router-outlet> -->
    <div class="container border border-0">
        <router-outlet></router-outlet>
    </div>
</div> 

<app-footer></app-footer>