<section id="inicioGlitch">
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-8 col-lg-8 border border-0">
          <!-- <div class="titulos">
            <h2>Lorem Ipsumss</h2>
          </div> -->
          <div class="centroCaratula mb-4">
            <h1>Universidad Nacional de Loja</h1>
            <h3>Desarrollo de Software en Ambientes Cloud</h3>
            <h4>Elaboración de Solución de Software</h4>
          </div>
          <div class="mb-3">
            <h4>Integrantes:</h4>
            <h5>Giovanny Cholca.</h5>
            <h5>Emilio Vera.</h5>
          </div>
          <div class="mb-3">
            <h4>Docente:</h4>
            <h5>Ing. Roberth Figueroa Díaz M.Sc.</h5>
          </div>
          <div class="mb-5">
            <h5>Tecnologias:</h5>
            <h6>Backend: Angular14, Bootstrap5, PrimeNG</h6>
            <h6>FrontEnd: JavaJEE, Persistencia JPA, SprintBoot</h6>
            <h6>Base de Datos: PostgreSql</h6>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 pt-5">
          <div id="fondoGlitch">
            <div class="glitch1"></div>
          </div>
        </div>
      </div>
    </div>
  </section>