<p>typeclaim works!</p>

<div class="container border border-2">
    <div class="row">
      <div class="col-8 border border-4">
        <div>
          <div class="mb-2">
            Registro Clientes:
          </div>
        </div>
        <div class="row">
          <div class="col-6 border border-0">
            <div class="row mb-3">
              <div class="col-6 txtlabel">Cedula:</div>
              <div class="col-6"><input class="form-control" type="text" placeholder="ingresar cédula" aria-label="default input example"></div>
            </div>
          </div>
        </div>
        <div class="row row-cols-4 mb-3">
          <div class="col txtlabel">Nombre:</div>
          <div class="col"><input class="form-control" type="text" placeholder="nombre" aria-label="default input example">
          </div>
          <div class="col txtlabel">Apellido:</div>
          <div class="col"><input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
          </div>
        </div>
        <div class="row row-cols-4">
          <div class="col txtlabel">Correo:</div>
          <div class="col"><input class="form-control" type="text" placeholder="mail" aria-label="default input example">
          </div>
          <div class="col txtlabel">Teléfono:</div>
          <div class="col"><input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-8 border border-4">
        <div>
          <div class="mb-2">
            Registro Usuarios:
          </div>
        </div>
        <div class="row row-cols-4 mb-3">
          <div class="col txtlabel">Código:</div>
          <div class="col"><input class="form-control" type="text" placeholder="código" aria-label="default input example">
          </div>
          <div class="col txtlabel">Identificación:</div>
          <div class="col"><input class="form-control" type="text" placeholder="cédula" aria-label="default input example">
          </div>
        </div>
        <div class="row row-cols-4 mb-3">
          <div class="col txtlabel">Nombre:</div>
          <div class="col"><input class="form-control" type="text" placeholder="nombre" aria-label="default input example">
          </div>
          <div class="col txtlabel">Apellido:</div>
          <div class="col"><input class="form-control" type="text" placeholder="apellido"
              aria-label="default input example">
          </div>
        </div>
        <div class="row row-cols-4">
          <div class="col txtlabel">Correo:</div>
          <div class="col"><input class="form-control" type="text" placeholder="mail" aria-label="default input example">
          </div>
          <div class="col txtlabel">Teléfono:</div>
          <div class="col"><input class="form-control" type="text" placeholder="teléfono"
              aria-label="default input example">
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="row">
      <div class="col-8 border border-4">
        <div>
          <div class="mb-2">
            Tipo de Reclamo:
          </div>
        </div>
        <div class="row row-cols-4 mb-3">
          <div class="col txtlabel">Descripción:</div>
          <div class="col"><input class="form-control" type="text" placeholder="descripción" aria-label="default input example">
          </div>
        </div>
      </div>
    </div>
  
  
  
  
  <div class="row">
    <div class="col-8 border border-4">
      <div>
        <div class="mb-2">
          Ingreso de un Reclamo:
        </div>
      </div>
      <div class="row row-cols-4 mb-3">
        <div class="col txtlabel">Fecha:</div>
        <div class="col">
          <input id="endDate" class="form-control" type="date" />
          <span id="endDateSelected"></span>
        </div>
        <div class="col txtlabel">Comentario:</div>
        <div class="col"><input class="form-control" type="text" placeholder="comentario"
            aria-label="default input example">
        </div>
      </div>
      <div class="row row-cols-4 mb-3">
        <div class="col txtlabel">Cliente:</div>
        <div class="col">
          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col txtlabel">Tipo Reclamo:</div>
        <div class="col">
          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div class="row row-cols-4">
        <div class="col txtlabel">Usuario:</div>
        <div class="col">
          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  
    
  </div>
  

