 
<p-toast></p-toast>

<div class="ui-g container border border-0">
  <p-panel header="Administracion Usuarios">
    <div>
      <p-menubar [model]="items"></p-menubar>
    </div>
    <p-table [value]="listUser" [columns]="cols" [responsive]="true" selectionMode="single"
              [(selection)]="usuarioSelected" dataKey="id" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <!-- <th>Cedula</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Correo</th>
          <th>Telefono</th> -->
          <th *ngFor="let col of columns">{{col.headers}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user let-columns="columns">
        <tr [pSelectableRow]="user">
          <!-- <td>{{client.identificacion}}</td>
          <td>{{client.nombres}}</td>
          <td>{{client.apellidos}}</td>
          <td>{{client.correo}}</td>
          <td>{{client.telefono}}</td> -->
          <td *ngFor="let col of columns" >
          {{user[col.field] }}  
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>

  <p-dialog header="Usuarios" [(visible)]="displaySaveDialog">
    <div class="container border border-0 mb-3">
       <div class="row">
        <div class="col-8 border border-0">
          <div>
            <div class="mb-2">
              Registro Usuarios:
            </div>
          </div>
          <div class="row row-cols-4 mb-3">
            <div class="col txtlabel">Código:</div>
            <div class="col"><input class="form-control" [(ngModel)]="usuario.codigoUsuario"  type="text" placeholder="código" aria-label="default input example">
            </div>
            <div class="col txtlabel">Identificación:</div>
            <div class="col"><input class="form-control" [(ngModel)]="usuario.identificacion" type="text" placeholder="cédula" aria-label="default input example">
            </div>
          </div>
          <div class="row row-cols-4 mb-3">
            <div class="col txtlabel">Nombre:</div>
            <div class="col"><input class="form-control" [(ngModel)]="usuario.nombres" type="text" placeholder="nombre" aria-label="default input example">
            </div>
            <div class="col txtlabel">Apellido:</div>
            <div class="col"><input class="form-control" [(ngModel)]="usuario.apellidos" type="text" placeholder="apellido" aria-label="default input example">
            </div>
          </div>
          <div class="row row-cols-4">
            <div class="col txtlabel">Correo:</div>
            <div class="col"><input class="form-control" [(ngModel)]="usuario.correo" type="text" placeholder="mail" aria-label="default input example">
            </div>
            <div class="col txtlabel">Teléfono:</div>
            <div class="col"><input class="form-control" [(ngModel)]="usuario.telefono" type="text" placeholder="teléfono" aria-label="default input example">
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <ng-template pTemplate="footer">
    <button type="button" pButton icon="fa fa-check" (click)="save()" label="Guardar"></button>
  </ng-template>
</p-dialog>

</div>

  
